<h1>Editing Email Member</h1>

<%= render 'form' %>

<%= link_to 'Show Member', @user, class: "btn brn-lg btn-primary" %> 
<%= link_to 'Back to Email Member List', users_path, class: "btn brn-lg btn-primary" %>

